*{
    margin: 0;
    padding: 0;
}
h1{
    text-align: center;
    color: blue;
}
.box{
    display: flex;
    text-align: center;
    font-weight: bold;
}
table{margin-left: auto;
    margin-right: auto;
}